<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%envFolderPath{ApplicationData}\\FamilyBudget\\FamilyBudget.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="2MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d %-5p %c %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="INFO"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
	<appSettings>
		<add key="RegisteredWorkbookPath" value=""/>
		<add key="APIRootUrl" value=""/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="access_token" value=""/>
    <add key="access_expires" value=""/>
    <add key="refresh_token" value=""/>
    <add key="refresh_expires" value=""/>
		<add key="date_format" value="yyyy-MM-ddTHH:mm:ss.SSSZ"/>
		<add key="apiGetPaymentMethods" value="/paymentMethods/all"/>
		<add key="apiAddPaymentMethods" value="/paymentMethods/add"/>
		<add key="apiUpdatePaymentMethods" value="/paymentMethods/update"/>
		<add key="apiGetAccounts" value="/accounts/all"/>
		<add key="apiAddAccounts" value="/accounts/add"/>
		<add key="apiUpdateAccounts" value="/accounts/update"/>
		<add key="apiGetCategories" value="/categories/all"/>
		<add key="apiAddCategories" value="/categories/add"/>
		<add key="apiUpdateCategories" value="/categories/update"/>
		<add key="apiGetSubcategories" value="/subcategories/all"/>
		<add key="apiAddSubcategories" value="/subcategories/add"/>
    <add key="apiUpdateSubcategories" value="/subcategories/update"/>
    <add key="apiGetGoals" value="/goals/all"/>
    <add key="apiAddGoals" value="/goals/add"/>
    <add key="apiUpdateGoals" value="/goals/update"/>
    <add key="apiGoalSummary" value="/goals/summary"/>
    <add key="apiGetAllLineItems" value="/lineItems/all"/>
		<add key="apiSearchLineItems" value="/lineItems/search"/>
		<add key="apiAddLineItems" value="/lineItems/add"/>
		<add key="apiUpdateLineItems" value="/lineItems/update"/>
		<add key="apiDeleteLineItem" value="/lineItems/delete"/>
	</appSettings>
	<startup>
	</startup>
</configuration>
